#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  width: 400px;
  padding: 2em;
  border-radius: 10px;
}

.card input {
  margin-bottom: 2em;
  width: 100%;
}

.card img {
  width: 100%;
}

.dark .card {
  background-color: #1b1b1b;
  color: white;
}
